{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{{ collection.name }} (<a href="javascript:alert('This feature is included in our premium subscription (coming soon)!');">change</a>)</h1>

<table>
    <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Platform</th>
        <th>Rating</th>
        <th>Actions</th>
    </tr>
    {% for game in games %}
    <tr>
        <td><a href="{{ game.info }}"><img src="{{ game.thumbnail }}" height="100"></a></td>
        <td>{{ game.name }}</td>
        <td>{{ game.platform.name }}</td>
        <td>
            {{ game.rating }} / 5
        </td>
        </td>
        <td>
            <a href="delete/{{ game.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="new/">Add a game</a>
</p>

<p>
    Share your collection with the world! Your brag URL is: http://{{ request.get_host }}/brag/{{ collection.key }}
</p>
<p>
    Backups? <a href="download/">Download a backup file</a> or <a href="upload/">Upload a backup file</a>.
</p>

{% endblock %}